In [47]:
import pandas as pd
import numpy as np

In [48]:
assess = pd.read_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/IAC_Assess.csv')
rec = pd.read_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/IAC_Recc.csv')
naics = pd.read_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/NAICS_Codes.csv')
crosswalk = pd.read_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/NAICS_SIC_Xwalk.csv')

/var/folders/sb/jp47sbx10wj3cd4mzwy256y80000gn/T/ipykernel_34264/718858416.py:2: DtypeWarning: Columns (2,6,8,9,10,12,13,14,16,17,18,20,21,22,25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  rec = pd.read_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/IAC_Recc.csv')

In [49]:
rec_clean = rec[['SUPERID','ID', 'AR_NUMBER','ARC2', 'IMPSTATUS','IMPCOST',
                'PSOURCCODE', 'PCONSERVED', 'PSOURCONSV', 'PSAVED', 
                'FY' ]]

In [50]:
rec_clean.columns = rec_clean.columns.str.lower()

In [51]:
rec_clean = rec_clean.copy()

In [52]:
# Convert data types for rec_clean
rec_clean['ar_number'] = pd.to_numeric(rec_clean['ar_number'], errors='coerce')
rec_clean['arc2'] = pd.to_numeric(rec_clean['arc2'], errors='coerce')
rec_clean['impcost'] = pd.to_numeric(rec_clean['impcost'], errors='coerce')
rec_clean['pconserved'] = pd.to_numeric(rec_clean['pconserved'], errors='coerce')
rec_clean['psourconsv'] = pd.to_numeric(rec_clean['psourconsv'], errors='coerce')
rec_clean['psaved'] = pd.to_numeric(rec_clean['psaved'], errors='coerce')
rec_clean['fy'] = pd.to_numeric(rec_clean['fy'], errors='coerce')

In [53]:
rec_clean.head()

,superid,id,ar_number,arc2,impstatus,impcost,psourccode,pconserved,psourconsv,psaved,fy
0,AM000101,AM0001,1.0,3.0,N,15000.0,E1,NaN,NaN,1828.0,1987.0
1,AM000102,AM0001,2.0,3.0,N,189.0,E1,7034.0,72.0,663.0,1987.0
2,AM000103,AM0001,3.0,3.0,N,398.0,E1,10258.0,105.0,950.0,1987.0
3,AM000104,AM0001,4.0,3.0,I,354.0,E1,10844.0,111.0,544.0,1987.0
4,AM000105,AM0001,5.0,3.0,N,15.0,E1,4982.0,51.0,270.0,1987.0

In [54]:
rec_clean.tail()

,superid,id,ar_number,arc2,impstatus,impcost,psourccode,pconserved,psourconsv,psaved,fy
164211,W4_plant_usage,Total yearly Other Solid (non-haz) disposal (lbs),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164212,W5_plant_cost,Total yearly Other Solid (haz) disposal costs ($),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164213,W5_plant_usage,Total yearly Other Solid (haz) disposal (lbs),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164214,W6_plant_cost,Total yearly Gaseous Waste disposal costs ($),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164215,W6_plant_usage,Total yearly Gaseous Waste disposal (lbs),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
rec_clean = rec_clean.iloc[1:164161]

In [56]:
assess.head()

,ID,CENTER,FY,SIC,NAICS,STATE,PRODUCTS,EC_plant_cost,EC_plant_usage
0,AM0001,AM,1987,3671.0,NaN,TX,MICRO & MINI COMPUTERS,184985.0,2560082.0
1,AM0002,AM,1987,2761.0,NaN,TX,BUSINESS FORMS,267702.0,4867233.0
2,AM0003,AM,1987,3494.0,NaN,TX,SAFETY JOINTS & VALVES,129334.0,1723036.0
3,AM0004,AM,1987,3713.0,NaN,TX,TRUCKS BEDS & TRAILERS,53511.0,483880.0
4,AM0005,AM,1987,2024.0,NaN,TX,ICE CREAM,174617.0,2868113.0

In [57]:
assess_clean = assess.copy()

In [58]:
assess_clean.columns = assess_clean.columns.str.lower()

In [59]:
assess_clean = assess_clean.copy()

In [60]:
# Convert data types for assess_clean
assess_clean['fy'] = pd.to_numeric(assess_clean['fy'], errors='coerce')
assess_clean['sic'] = pd.to_numeric(assess_clean['sic'], errors='coerce')
assess_clean['ec_plant_cost'] = pd.to_numeric(assess_clean['ec_plant_cost'], errors='coerce')
assess_clean['ec_plant_usage'] = pd.to_numeric(assess_clean['ec_plant_usage'], errors='coerce')

In [61]:
assess_clean.head()

,id,center,fy,sic,naics,state,products,ec_plant_cost,ec_plant_usage
0,AM0001,AM,1987,3671.0,NaN,TX,MICRO & MINI COMPUTERS,184985.0,2560082.0
1,AM0002,AM,1987,2761.0,NaN,TX,BUSINESS FORMS,267702.0,4867233.0
2,AM0003,AM,1987,3494.0,NaN,TX,SAFETY JOINTS & VALVES,129334.0,1723036.0
3,AM0004,AM,1987,3713.0,NaN,TX,TRUCKS BEDS & TRAILERS,53511.0,483880.0
4,AM0005,AM,1987,2024.0,NaN,TX,ICE CREAM,174617.0,2868113.0

In [62]:
naics.head()

,Seq. No.,2022 NAICS US Code,2022 NAICS US Title,Description,Unnamed: 4
0,1,11,"Agriculture, Forestry, Fishing and HuntingT","The Sector as a Whole\n\nThe Agriculture, Fore...",NaN
1,2,111,Crop ProductionT,Industries in the Crop Production subsector gr...,NaN
2,3,1111,Oilseed and Grain FarmingT,This industry group comprises establishments p...,NaN
3,4,11111,Soybean FarmingT,See industry description for 111110.,NaN
4,5,111110,Soybean Farming,This industry comprises establishments primari...,NaN

In [63]:
naics.columns

Index(['Seq. No.', '2022 NAICS US   Code', '2022 NAICS US Title',
       'Description', 'Unnamed: 4'],
      dtype='object')

In [64]:
naics_clean = naics[['2022 NAICS US   Code', '2022 NAICS US Title',
       'Description']]

In [65]:
naics_clean = naics_clean.rename(columns = {'2022 NAICS US   Code': 'naics', '2022 NAICS US Title':'naics_title', 'Description' : 'naics_description'})

In [66]:
naics_clean.head()

,naics,naics_title,naics_description
0,11,"Agriculture, Forestry, Fishing and HuntingT","The Sector as a Whole\n\nThe Agriculture, Fore..."
1,111,Crop ProductionT,Industries in the Crop Production subsector gr...
2,1111,Oilseed and Grain FarmingT,This industry group comprises establishments p...
3,11111,Soybean FarmingT,See industry description for 111110.
4,111110,Soybean Farming,This industry comprises establishments primari...

In [67]:
crosswalk.head()

,Input Seq 1,2022 NAICS Code,2022 NAICS Title,Related SIC Code,Related SIC Code Description,Change to 2017 Code,2017 NAICS Code,2017 NAICS Code.1
0,1,111110,Soybean Farming,0116,Soybeans,No Change,111110,Soybean Farming
1,2,111120,Oilseed (except Soybean) Farming,0119,"Cash Grains, Nec",No Change,111120,Oilseed (except Soybean) Farming
2,3,111130,Dry Pea and Bean Farming,0119,"Cash Grains, Nec",No Change,111130,Dry Pea and Bean Farming
3,4,111140,Wheat Farming,0111,Wheat,No Change,111140,Wheat Farming
4,5,111150,Corn Farming,0115,Corn,No Change,111150,Corn Farming

In [68]:
crosswalk.columns

Index(['Input Seq 1', '2022 NAICS Code', '2022 NAICS Title',
       'Related SIC Code', 'Related SIC Code Description',
       'Change to 2017 Code', '2017 NAICS Code', '2017 NAICS Code.1'],
      dtype='object')

In [69]:
crosswalk_clean = crosswalk[['2022 NAICS Code', '2022 NAICS Title',
       'Related SIC Code', 'Related SIC Code Description']]

In [70]:
crosswalk_clean = crosswalk_clean.rename(columns = {'2022 NAICS Code':'naics', '2022 NAICS Title':'naics_title','Related SIC Code':'sic', 'Related SIC Code Description': 'sic_description'  })

In [71]:
crosswalk_clean.head()

    naics                        naics_title   sic   sic_description
0  111110                    Soybean Farming  0116          Soybeans
1  111120  Oilseed (except Soybean) Farming   0119  Cash Grains, Nec
2  111130          Dry Pea and Bean Farming   0119  Cash Grains, Nec
3  111140                      Wheat Farming  0111             Wheat
4  111150                      Corn Farming   0115              Corn

In [72]:
rec_clean.to_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/rec.csv', index = False)

In [73]:
assess_clean.to_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/assess.csv', index = False)

In [74]:
naics_clean.to_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/naics.csv', index = False)

In [75]:
crosswalk_clean.to_csv('/Users/nmoraes/Documents/MEDS/Spring2025/EDS213/discussion/IAC_SQL_Exploration/data/crosswalk.csv', index = False)